<ezstream>
    <servers>
        <server>
            <hostname>__HOSTNAME__</hostname>
            <port>__PORT__</port>
            <protocol>HTTP</protocol>
            <user>source</user>
            <password>__PASSWORD__</password>
        </server>
    </servers>
    <streams>
        <stream>
            <mountpoint>/djalyx</mountpoint>
            <format>MP3</format>
        </stream>
    </streams>
    <intakes>
        <intake>
            <type>stdin</type>
        </intake>
    </intakes>
</ezstream>
